/*DEFAULTS TAGS*/

html{
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;
    /*filter: invert(1) hue-rotate(180deg) saturate(1.1);*/ 
    /*filter: grayscale(1) invert(1) contrast(0.9) brightness(0.4) sepia(1) hue-rotate(-60deg) saturate(5);*/ /* Inverted pink (OnlyHere) */
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding: 0px;
}

img{
    /*filter: invert(1) hue-rotate(180deg) saturate(1.1);*/ 
}

/*Global Tags*/

.no-filters{
    /*filter: invert(1) hue-rotate(180deg) saturate(1.1);*/ 
}

/*FONTS*/

@font-face {
  font-family: "titles";
  src: local("titles"), url("../media/fonts/Belgan\ Aesthetic.ttf");
}

@font-face {
  font-family: "titles2";
  src: local("titles2"), url("../media/fonts/Burgundia_PERSONAL_USE_ONLY.otf");
}

:root {
    --font-main: "titles", serif;
    --font-main2: "titles2", serif;
    --font-texts: "Nunito", sans-serif;
    --font-texts2: "PT Serif", serif;
    /*font-family: var(--font-main);*/
}


/*HEADER*/

.header{
    display: flex;
}

.header-logo{
    flex: 1;
    margin: auto;
    height: 80px;
    margin: 10px 0px;
    object-fit: contain;
    filter: brightness(1.1);
}

.header-buttons{
    display: flex;
    margin: auto;
    flex: 1;
    gap: 20px;
    justify-content: center;
}

.header-options{
    font-size: 1.5rem;
    font-family: var(--font-main);
    border: 2px solid black;
    border-radius: 0px;
    padding: 6px 15px;
    font-weight: 600;
    box-shadow: 5px 5px 0px 0px black;
}

.header-switch-theme{
    margin: auto 0px;
    height: 50px;
    object-fit: contain;
    image-rendering: pixelated;
}

.header-random-post{
    margin: auto 0px;
    height: 50px;
    object-fit: contain;
    image-rendering: pixelated;
}

.header-categories{
    flex: 1;
    text-align: center;
    margin: auto;
    font-size: 3rem;
    font-family: var(--font-main);
}

.header-about{
    flex: 1;
    text-align: center;
    margin: auto;
    font-size: 3rem;
    font-family: var(--font-main);
}

.easterEgg{
    flex: 1;
    text-align: center;
    margin: auto;
    font-size: 1rem;
    font-family: var(--font-main);
    color: white   
}

/*Banner*/


.pedido{
    display: block;
    margin: 0px auto;
    font-family: var(--font-texts);
    font-size: 1.2rem;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 2px solid black;
    border-radius: 3px;
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    transition: 0.1s;
}

.pedido:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid black;
    margin: 0px;
}


.banner-container {
    width: 100%;
    height: auto; /* o el que necesites */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering: pixelated;
}

.banner-text {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    text-align: center;
    padding: 30px;
    font-family: var(--font-main);
    background-color: rgb(0, 0, 0);
    width: 100%;
    margin: 20px 0px 0px 0px;
}

/*Welcome*/

.welcome-section{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

/*Categories*/

.categories{
    display: flex;
    flex-direction: column;
    margin: 0px 30px 0px 0px;
    padding: 0px 30px 0px 60px;
    gap: 0px;
    height: 100vh;
    position:-webkit-sticky;
    position:sticky;
    top:0;
    border-right: 1px solid rgb(231, 231, 231);
}

.categorie-title{
    font-size: 2.5rem;
    font-family: var(--font-main);
    margin: 10px 0px 0px 0px;
}

.categorie-link{
    display: block; 
    text-align: left;
    font-size: 1.7rem;
    font-family: var(--font-text2);
    margin: 0px 0px 0px 0px;
    padding: 8px 0px;
    transition: 0.1s;
}
.categorie-link:hover{
    cursor: url('../media/blog/general/cursor.png') 0 0, pointer !important;
    cursor: pointer;
    padding: 8px 0px 8px 10px;
    color: rgb(255, 86, 136);
}

.categorie-about{
    display: block; 
    text-align: left;
    font-size: 1.7rem;
    font-family: var(--font-text2);
    margin: 10px 0px 0px 0px;
    padding-top: 20px;
    border-top: 1px solid rgb(231, 231, 231);
    transition: 0.1s;
}
.categorie-about:hover{
    cursor: url('../media/blog/general/cursor.png') 0 0, pointer !important;
    cursor: pointer;
    padding: 20px 20px 20px 10px;
    color: rgb(255, 86, 136);
}

/*ARTICLE*/

.products{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.article{
    width: 400px;
    border-bottom: 1px solid rgb(190, 190, 190);
    padding-bottom: 15px;
}

.article-link{
    text-decoration: none;
    cursor: url('../media/blog/general/cursor.png') 0 0, pointer !important;
    cursor: pointer;
}

/*  OLD
.article-link{
    display: block;
    width: 100%;
    padding: 10px 0px;
    font-family: var(--font-texts2);
    font-size: 2rem;
    text-decoration: none;
    color: rgb(203, 71, 128);
    border-bottom: 1px solid black;
} */

.article-image{
    width: 400px;
    height: 400px;
    object-fit: contain;
    border-radius: 3px;
    background-color: rgb(72, 43, 50);
    transition: 1s;
}

.article-title{
    font-size: 2.2rem;
    margin: 17px 0px 17px 0px;
    font-family: var(--font-main);
    font-weight: 600;
    color: rgb(72, 43, 50);
    line-height: 2rem;
}
.article-description{
    font-family: var(--font-texts);
    font-size: 1.2rem;
    margin: 0px 0px 0px 0px;
}
.article-category{
    font-family: var(--font-texts);
    font-size: 1.2rem;
    margin: 0px 0px 0px 0px;
    position: relative;
    bottom: 10px;
    color: rgb(255, 86, 136);
    text-decoration: underline;
    text-underline-offset: 5px;
}

/*MUSIC SECCTION*/

.music-review-container{
    display: block;
    text-align: center;
    margin: auto;
    padding: 0px 10% 30px 10%;
    display: flex;
    gap: 30px;
    height: max-content;
    background-image: url(../media/blog/articles/Tests/smallGirl.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    background-attachment: fixed;
}

.music-video-info{
    padding-top: 30px;
    position:-webkit-sticky;
    position:sticky;
    top:0;
    flex: 5;
    height: max-content;
}

.music-lyrics{    
    flex: 2;
    margin: 0px;
    overflow: hidden;
}

.lyrics-title{
    padding: 100px 0px 100px 0px;
    text-align: center;
    font-family: var(--font-main2);
    font-size: 2rem;
    margin: 0px;
}

.lyrics-source{
    padding: 100px 0px 100px 0px;
    text-align: center;
    font-family: var(--font-main2);
    font-size: 1.5rem;
    margin: 0px;
    color: rgb(161, 161, 161);
}

.lyrics{
    text-align: left;
    font-family: var(--font-texts);
    font-size: 14px;
    margin: 0px;
    /*height: 70vh;*/
}

.album-img{
    display: none;
    width: 100%;
}


.music-info-img{
    margin: 0px auto 25px auto;
    flex: 1;
    display: flex;
    justify-content: left;
}

.music-disk{
    z-index: 1;
    position: relative;
    border-radius: 100%;
}

.disk-img{
    height: 75px;
    width: 75px;
    position: absolute;
    z-index: 2;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 100%;
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.139);
}

.music-img{
    border: 2px solid white;
    height: 75px;
    width: 75px;
    border-radius: 100%;
    animation: spin 8s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.music-info{
    text-align: left;
    margin: auto 20px auto 20px;
}

.music-rate{
    justify-content: right;
    margin: auto 0px auto auto;
}

.music-title{
    font-size: 2.1rem;
    font-family: var(--font-main);
    margin: auto;

}
.music-artist{
    font-family: var(--font-texts);
    margin: auto;
    font-size: 1rem;
    top: -10px;
    position: relative;
}

.music-video-container {
    position: relative;
    padding-top: 56.25%; /* 16:9 */
}

.music-video-container iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.bright{
    filter: brightness(130%) saturate(120%);
}

.bright2{
    filter: brightness(110%) saturate(110%);
}

@media (max-width: 450px) {

    .article{
        width: 320px;
        border-bottom: 1px solid rgb(231, 231, 231);
        padding-bottom: 15px;
    }
    .article-image{
        width: 320px;
        height: 320px;
        object-fit: contain;
        border-radius: 3px;
        background-color: rgb(72, 43, 50);
        transition: 1s;
    }

}

@media (max-width: 350px) {

    .article{
        width: 270px;
        border-bottom: 1px solid rgb(231, 231, 231);
        padding-bottom: 15px;
    }
    .article-image{
        width: 270px;
        height: 270px;
        object-fit: contain;
        border-radius: 3px;
        background-color: rgb(72, 43, 50);
        transition: 1s;
    }

}

@media (max-width: 300px) {

    .article{
        width: 170px;
        border-bottom: 1px solid rgb(231, 231, 231);
        padding-bottom: 15px;
    }
    .article-image{
        width: 170px;
        height: 170px;
        object-fit: contain;
        border-radius: 3px;
        background-color: rgb(72, 43, 50);
        transition: 1s;
    }

}


.footer{
    margin-top: 300px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 20px;
    font-family: var(--font-main2);
    text-decoration: underline;
}

.cursor{
    color: rgb(255, 86, 136);
}